{% extends 'base.html' %}{% block content %}
{% load static %}
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">寶寶睡醒睜眼及鼻子遮掩辨識</li>
			</ol>
        </div><!--/.row-->
        <div class="row">
			<div class="col-lg-12">
				<iframe src="https://drive.google.com/file/d/1GL561jZkspQrazKkhZZdXnSs8aC0eEa4/preview" width="1200" height="900"></iframe>
			</div><!--/.col-lg-12-->
			<div class="col-lg-12">
				<iframe src="https://drive.google.com/file/d/1BqrYqw6b-3JcDyO1QZdZqRzdXUoqY9zK/preview" width="1200" height="900"></iframe>
			</div><!--/.col-lg-12-->
		</div><!--/.row-->
	</div>	<!--/.main-->
{% endblock %}

{% block scripts %}

{% endblock %}